@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #001e40; /* Deep Tech Blue */
  --color-secondary: #006e25; /* Success Green */
  --color-accent: #FF6D00; /* Energetic Progress Orange */
  
  --color-surface: #ffffff;
  --color-background: #f9f9fe;
  
  --radius-xl: 1.5rem;
  --radius-lg: 1rem;
  --radius-md: 0.75rem;
}

@layer base {
  body {
    @apply bg-background text-primary font-sans;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
